<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Welcome to {{ title }}!
  </h2>
  <h3>
    Welcome to {{ title }}!
  </h3>
  <h4>
    Welcome to {{ title }}!
  </h4>
  <h5>
    Welcome to {{ title }}!
  </h5>
  <h6>
    Welcome to {{ title }}!
  </h6>
  <img width="300" alt="Angular Logo" src="../assets/img/1_vTCleFf428bsRcafV35YkA.png">

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
<app-project></app-project>
